-showmem
#-symbolfile
#-libdir E:\youtube\CityXen\Assets\github\Commodore64_Programming\include
-odir "prg_files"
#-execute "E:\retro-dev-tools\emulators\WinVICE-3.0-x64\x64.exe"
#-execute "E:\dev\cityxen\retro-dev-tools\emulators\GTK3VICE-3.8-win32\bin\x64sc.exe"

